<div class="jumbotron">
	<h1>About Site</h1>
	<p>This site is dedicated to Josh Bensing and his love of mystical cats.</p>
	<p>Check out some mystical cat pictures below!</p>
	<%= link_to "Show me the mystical cat pics!", "http://localhost:3000/mystical_cat_pics", class: "btn btn-primary btn-lg" %>
</div>
