<div class="jumbotron">
	<h1>Welcome to my app</h1>
		
	<% if user_signed_in? %>
	  <p>Time to check out some sweet cat pics!</p>
	<% else %>	
		<p>Where you can look at mystical cat pics! <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %></p>
	<% end %>	
		
</div>