<div class="jumbotron">
	<h1>These cats are totes cray!</h1>
	<img src="http://images2.layoutsparks.com/1/100485/mystic-creature-tiger-animal.jpg' alt='mystic creature tiger animal pictures, backgrounds and images' title='mystic creature tiger animal pictures, backgrounds and images" height="160" width="200">
	<img src="http://image.blingee.com/images15/content/output/000/000/000/441/284440909_1972661.gif" height="160" width="200">
	<img src="http://www.grandmidwayhotel.com/wp-content/uploads/2012/11/Egypt.jpg" height="160" width="200">
	<img src="http://fc04.deviantart.net/fs70/f/2011/063/b/c/mystical_cat_by_sargeraas-d3avfup.jpg" height="160" width="200">
	<img src="http://cache.desktopnexus.com/thumbnails/242115-bigthumbnail.jpg" height="160" width="200">
</div>